# Name: JAR_Plugin
# Author: Wayne Rasband
# Version: 1.2
# Date: 2003/12/15
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM jar_demo.jar *"

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>Leafy, "Classify Tree Species", net.larla.leafy.main.Leaf_Classification
#Plugins>Leafy, "Classify Tree Species (Custom classifier)", net.larla.leafy.main.Leaf_Classification_Custom
Plugins>Leafy, "Classify Tree Species (Custom classifier)", net.larla.leafy.main.Leaf_Classification("custom")
Plugins>Leafy, "Train Classifier", net.larla.leafy.main.Batch_Analyzer
