# A single .jar file can contain multiple plugins, specified in separate lines.
# The format is: <menu>, "<menu label>", <class name>
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>Leafy, "Classify Leaf", net.larla.leafy.main.Leaf_Classification
Plugins>Leafy, "Classify Leaf (w/o petiole)", net.larla.leafy.main.Leaf_Classification("withoutpetiole")
Plugins>Leafy, "Classify Leaf (Custom classifier)", net.larla.leafy.main.Leaf_Classification("custom")
Plugins>Leafy, "Train Classifier", net.larla.leafy.main.Batch_Analyzer
Plugins>Leafy, "Train Classifier (w/o petiole)", net.larla.leafy.main.Batch_Analyzer("withoutpetiole")
Plugins>Morphology, "Erode2", net.larla.leafy.morph.Erode_Demo2
Plugins>Morphology, "Dilate2", net.larla.leafy.morph.Dilate_Demo2